sysname Leaf01
#
vlan batch 100 200 to 202
#
interface Eth-Trunk10
 description TO-SERVER-A
 port link-type trunk
 port trunk allow-pass vlan 100
#
interface 100GE1/0/1
 description TO-SPINE01
 undo portswitch
 ip address 10.0.0.1 255.255.255.252
#
interface Vbdif100
 ip binding vpn-instance VPN-A
 ip address 192.168.100.1 255.255.255.0
#
ip vpn-instance VPN-A
 ipv4-family
  route-distinguisher 65001:100
  vpn-target 65000:100 export-extcommunity
  vpn-target 65000:100 import-extcommunity
 #
#
ip route-static 0.0.0.0 0.0.0.0 10.0.0.2
#
return
